<nav class="menu-container">
  <img
    class="logo"
    src="{{ site.baseurl }}/SaTourN-RGB.png"
    alt="SaTourN Logo"
  >

  <div class="menu-links">

    <a href="{{ site.baseurl }}/Statistik/index.html" class="menu-item">
      <span class="material-icons menu-icon">bar_chart</span>
      <div class="menu-text">Statistik</div>
    </a>

    <a href="{{ site.baseurl }}/Pages-Builder/index.html" class="menu-item">
      <span class="material-icons menu-icon">build</span>
      <div class="menu-text">Pages Builder</div>
    </a>

    <a href="{{ site.baseurl }}/KG-Finder/index.html" class="menu-item">
      <span class="material-icons menu-icon">hub</span>
      <div class="menu-text">Knowledge Graphen</div>
    </a>


    <a href="{{ site.baseurl }}/Item_Randomizer/index.html" class="menu-item">
      <span class="material-icons menu-icon">shuffle</span>
      <div class="menu-text">Item Randomizer</div>
    </a>


    <a href="{{ site.baseurl }}/Copyright-Checker/index.html" class="menu-item">
      <span class="material-icons menu-icon">copyright</span>
      <div class="menu-text">Copyright Checker</div>
    </a>

  </div>
</nav>
