<nav class="menu-container">
  <img class="logo" src="../SaTourN-RGB.png" alt="SaTourN Logo">
  <div class="menu-links">
    <!-- Statistik -->
    <a href="../Statistik/Index.html" class="menu-item">
      <span class="material-icons menu-icon">bar_chart</span>
      <div class="menu-text">Statistik</div>
    </a>

    <!-- Pages Builder -->
    <a href="../Pages-Builder/index.html" class="menu-item">
      <span class="material-icons menu-icon">build</span>
      <div class="menu-text">Pages Builder</div>
    </a>

    <!-- Knowledge Graphen -->
    <a href="../KG-Finder/index.html" class="menu-item">
      <span class="material-icons menu-icon">hub</span>
      <div class="menu-text">Knowledge Graphen</div>
    </a>
  </div>
</nav>

